#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
*.sbr
*.sln
*.opendb
*.db
*.md
obj/
[Dd]ebug*/
[Rr]elease*/
_ReSharper*/
.vs/
[Bb]in/
bin64/
binarm64/
